<section class="container">
  <h3 class="gallery-name">Posts From User {{post.user_id}}</h3>

  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each post}}
    {{> post-details}}
    {{/each}}
  </section>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
